* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --center-col-padding: 32px;

  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - (var(--center-col-padding) * 2))) 1fr;
  gap: var(--center-col-padding);
  background-color: rebeccapurple;
}

header {
  grid-column: 2;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

nav button {
  flex: 1 0 5rem;
}

#content {
  grid-column: 2;
}
